<div class="example-container mat-elevation-z8" style="padding: 20px;">
    <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Escribe algo">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">
    <!-- Country Column -->
    <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef style="min-width: 180px;"> Pa&iacute;s </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.Country}} </td>
    </ng-container>

    <!-- NewConfirmed Column -->
    <ng-container matColumnDef="NewConfirmed">
        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> N. Confirmados </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.NewConfirmed}} </td>
    </ng-container>

    <!-- TotalConfirmed Column -->
    <ng-container matColumnDef="TotalConfirmed">
        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> T. Confirmados </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.TotalConfirmed}} </td>
    </ng-container>

    <!-- NewDeaths Column -->
    <ng-container matColumnDef="NewDeaths">
        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> N. Muertos </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.NewDeaths}} </td>
    </ng-container>

    <!-- TotalDeaths Column -->
    <ng-container matColumnDef="TotalDeaths">
        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> T. Muertos </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.TotalDeaths}} </td>
    </ng-container>

    <!-- NewRecovered Column -->
    <ng-container matColumnDef="NewRecovered">
        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> N. Recuperados </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.NewRecovered}} </td>
    </ng-container>

    <!-- TotalRecovered Column -->
    <ng-container matColumnDef="TotalRecovered">
        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> T. Recuperados </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.TotalRecovered}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>