<div class="example-container mat-elevation-z8" style="padding: 10px;">
    <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef style="min-width: 150px;"> Nombre </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.Name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef style="min-width: 300px;"> Descripci&oacute;n </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.Description}} </td>
    </ng-container>

    <!-- Path Column -->
    <ng-container matColumnDef="Path">
        <th mat-header-cell *matHeaderCellDef style="min-width: 150px;"> Ruta </th>
        <td mat-cell *matCellDef="let element" class="cell-data"> {{element.Path}} </td>
    </ng-container>

    <!-- Params Column -->
    <ng-container matColumnDef="Params">
        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> Parametros </th>
        <td mat-cell *matCellDef="let element" class="cell-data">
            <span *ngFor="let item of element.Params"> {{item}} </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>