<div class="example-container">
  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-button [routerLink]="['/']" routerLinkActive="router-link-active">{{ title }}</mat-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="eco">eco</mat-icon>
      <span class="example-spacer"></span>
      <mat-button [routerLink]="['/summary']" routerLinkActive="router-link-active">Sumatoria</mat-button>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
